name: Update parsed csv
on:
  pull_request:
    types: [opened, reopened]

permissions:
  contents: read

jobs:
  update_parsed_csv:
    # /jsの中のnpmパッケージが更新されたプルリクエストに対してのみ実行する。
    if:  startsWith(github.head_ref, 'dependabot/submodules/geolonia-japanese-addresses')

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        token: ${{ secrets.TOKEN_FOR_CI }}
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    - name: Update parsed csv
      run: bundle exec rake japanese_address_parser:parse_csv
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        add: lib/japanese_address_parser/data
        default_author: github_actor
        new_branch: ${{ github.head_ref }}
        message: '[Automatic] Update parsed csv.'
